@font-face {
  font-family: 'Pokemon Hollow';
  src: url("./fonts/PokemonHollowNormal.woff") format("woff"), url("./fonts/PokemonHollowNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Pokemon Solid';
  src: url("./fonts/PokemonSolidNormal.woff") format("woff"), url("./fonts/PokemonSolidNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
